* {
    margin: 0;
    padding: 0 ;
}

body {
    background-color: #ffffff;
    text-align: center;
}

h1 {
    color: #c4b229;
    font-size: 4rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin; /* 1vmin - 1% of viewport smaller dimension */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem;
    font-size: 8vmin;
    color: #000000;
    background-color:white ;
    
}

#reset-btn {
    padding: 1rem;
    font-size: 0.9rem;
    background-color: #f2de44;
    border-radius: 2rem;
    border-color: #de7b09;
    
}

#new-btn {
    padding: 1rem;
    font-size: 0.9rem;
    background-color: #f2de44;
    border-radius: 2rem;
    border-color: #de7b09;
}

#msg {
    font-weight: bold;
    color: #e7a011;
    font-size: 6vmin;
    font-style: oblique;
}

.msg-container {
    height: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

.buttons {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#mode {
    padding: 1rem;
    font-size: 0.9rem;
    background-color: #f2de44;
    border-radius: 2rem;
    border-color: #de7b09;
}